a{
  text-decoration:none;
}

body{
  margin:0;
  padding:0;
  font:12px "Lato", sans-serif;
}
.clearfix {
  clear: both;
}
nav {
  background-color: #c12127;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  height: 15px;
  font: 12px "Lato", sans-serif;
}
nav div {
  width: 250px;
  float: left;
}

nav a {
  color: rgba(255, 255, 255, 0.8);;
  padding: 0 15px 0 10px;
}

.top-links {
  display: inline-block;
  float:right;
  padding: 0;
  margin: 0;
}

.top-links li {
  display: inline-block;
  margin: 0 3px;
}

.search {
  padding: 10px;
}
.search form {
  padding: 0px;
  margin: 0px;
}

.search div {
  float: left;
}

.searchLogo {
  padding: 0 20px 0 10px;
  width:80px;
 
}
.searchEngine {
  /* Firefox */
    width: -moz-calc(100% - 240px);
  /* WebKit */
  width: -webkit-calc(100% - 240px);
  /* Opera */
  width: -o-calc(100% - 240px);
  /* Standard */
  width: calc(100% - 240px);

}

.searchInput {
  background-color: #2B526E;
  border: 1px solid #577B98;
  color: #7B8E9E;
  padding:5px;
  height:15px;
  width: 90%;
  margin:0;
  float:left;
  font-size:12px;
}

.searchButton {
  border: 1px solid #577B98;
  background:#2B526E url(images/search-icon.svg) no-repeat;
  padding:5px;
  height:27px;
  background-size: 15px 15px;
  background-position: center;
  width: 40px;
  margin:0;
  float:left;

}

.searchLinks {
  width:100px;
  color:white;
  background:url(images/bear-logo.png) no-repeat;
  background-position:right;
  background-size: 20px 20px;
  padding-right:10px;
  padding-left:20px;
  margin-top:5px;

 
}

.searchLinks a{
  color:white;
}

header {
  background:url(images/city-scape.svg) no-repeat;
  background-size: cover;
  height: 550px;
}

header h1 {
  font: 35px "Lato", sans-serif;
  color: white;
}

header p {
  font: 14px "Lato", sans-serif;
  color: white;
}

#headerContent{
  padding:120px 0 0 120px;
  width:400px;
}
#headerContent p{
  padding-bottom:20px;
}
.signUpButton {
  padding: 5px 10px;
  color: white;
  background-color: #f0912e;
  border-radius: 100px;
  font-size:14px;
}

h2{
  margin:0;
  padding:0;
  font: 25px "Lato", sans-serif;

}

#section1{
  background:#222f3e url(images/collaboration.svg) no-repeat;
  color:white;
  margin:0px;
  padding:40px 0 0 150px;
  height:340px;
  background-size:30%;
  background-position:120px 60px;
}

#section1Content{
padding-left:35%;
padding-top:25px;
}
#section1Content ul{
  padding:10px 0 0 30px;
  font-size:16px;
  }

#section1Content li{
  padding-bottom:15px;
}

#section1Content a, #section2Content a{
  color:white
}

.signUpButtonOrgs{
  padding: 5px 10px;
  background-color: #c33131;
  border-radius: 100px;
  font-size:14px;
}

#section2{
  background:url(images/forklift.svg) no-repeat;
  background-size: cover;
  height: 500px;

}

#section2Content{
  color:white;
  padding:100px 0 0 120px;
  width:300px;
}
#section2Content p{
  padding-bottom:10px;
}

.installButtton{
  padding: 5px 10px;
  background-color: #2b3b4e;
  border-radius: 100px;
  font-size:14px;
}


#section3{
  max-width:750px;
  text-align:center;
  margin:0 auto;
  padding:30px 0 60px 0;
}
#section3 h3{
  font-size:20px;
  font-weight:bold;

}
#section3 div{
  float:left;
  width:210px;
  padding-top:20px;

}

#Benefit1, #Benefit2{
  padding-right:60px;
}

#section3 div p{
  color:#999;
}
#section3 div h4{
  font-size:14px;
  font-weight:bold;
  padding:0;
  margin:0;
}
#section3 div a{
  color:#c33131;
}